*{
  margin: 0;
}
.app{
  background-color: #fafafa;
  height: 100vh;
}
.app-header{
  background-color: white;
  object-fit: contain;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-headerImage {
  object-fit: contain;
}

.app-posts {
  padding: 20px;
}

.logo{
  width: 100px;
}
.post{
  max-width: 500px;
  background-color: white;
  border: 1px solid lightgray;
  margin-bottom: 45px;
}
.post-image{
  width: 100%;
  object-fit: contain;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
.post-text{
  font-weight: normal;
  padding: 20px;
}
.post-header{
  display: flex;
  align-items: center;  
  padding: 20px;
}
.post-avatar{
  margin-right: 10px;
}
.app-signup{
  display: flex;
  flex-direction: column;
}